<%- include(process.cwd() + '/views/layout/header'); -%>
    <section>

        <h2>Example content</h2>
        <p>user: any email, password: 1234</p>
    </section>
<%- include(process.cwd() + '/views/layout/footer'); -%>